<p style="text-align: center">
  <img src="/sprites/saturn.gif" alt="Saturn" height="450" width="450" />
</p>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h3 class="text-center mb-3">Create an account or login</h3>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
